<div class="row" id="about">
  <div class="col-md-12 col-lg-6 col-xl-6 col-flex-wrap">
    <!-- image_tag('isabella.jpg', class: "img-fluid ") -->
      <br />
        <p>Isabella Nicole is a transwoman that has extensive education in the fields of makeup application, infection control, cosmetology ( hair, skin and nails ) and electrolysis. She is state licensed in Pennsylvania to pratice cosmetology, esthetics and electrolysis under her license.</p>
  </div>
  <div class="col-md-12 col-lg-6 col-xl-6 col-flex-wrap">
    <%= image_tag('philadelphia_building.jpg', class: "img-fluid")%>
      <br />
      <p>Trans Beauty Shop is located in the heart of the Gayborhood on the 7th floor of the Philadelphia Building.  The building has quickly become the destination for entrepreneurs, arts and cultural groups, for profits and not for profits, and startups to work side by side.  Designed by renowned Philadelphia architect Horace Trumbauer, and built in 1923, the brick and limestone Philadelphia Building is a shining example of a Gilded Age commercial building.</p>
  </div>
</div>
