<div class="row" id="about">
  <div class="col-6">
    <%= image_tag('isabella.jpg', width: '100%', height: '100%')%>
  </div>
  <div class="col-6">
    <p>Isabella Nicole is an early transitioned transwoman that has extensive education in the fields of makeup application, infection control, cosmetology ( hair, skin and nails ) and electrolysis. She is state licensed in Pennsylvania to pratice cosmetology, esthetics and electrolysis under her license.</p>
  </div>
</div>
