<div id="electrolysis">

<h2>Common Questions About Permanent Hair Removal</h2>

<p>This FAQ is based on common questions asked of electrology practitioners. The information below is not intended to provide a diagnosis or define a treatment.</p>

<h3>What is electrolysis?</h3>

<p>Electrology is the science of permanent hair removal. Using state-of-the-art technology, a minute amount of electricity is gently applied to the base of the hair follicle. This process destroys the hair growth tissue. Therefore, the regenerative ability of the hair follicle is permanently eliminated.</p>
<p>The term electrolysis is used to describe all methods of permanent hair removal. The electrolysis modality was the first method used to remove hair permanently back in 1875. The term electrolysis branded the process of permanent hair removal.</p>
<p>An electrologist inserts a very fine needle into the natural opening of the hair follicle alongside the hair shaft (keep in mind how tiny hairs are). A minute amount of current is then applied to destroy the hair growth cells.</p>
<p>Medical electrolysis devices destroy the hair growth cells with chemical or heat energy. All modalities equally destroy hair growth cells that causes hair growth. The modality used is the preference of the professional electrologist.</p>
<p>There are three modalities used today that fall under the heading of electrolysis:</p>
<ul>
<li>Galvanic or electrolysis is a chemical process. The current produces a chemical reaction in the hair follicle eliminating the hair growth cells. This method is widely used in the multiple needle galvanic electrolysis, utilizing up to 16 needles simultaneously.</li>
<li>Thermolysis or short-wave produces heat. When this modality is used it heats and destroys the hair growth cells in the follicle. This modality can be utilized in two ways: (1) flash method of thermolysis uses high intensity current for less time in the follicle (2) the current is used at lower intensity and longer timing.</li>
<li>The blend method combines galvanic current with thermolysis current. Thermolysis heats up the chemical reaction in the follicle destroying hair growth cells.</li>
</ul>

<h3>Why should I choose electrolysis over other hair removal methods?</h3>

<p>Electrolysis is <em>the only true permanent hair removal method</em> and the only treatment <em>recognized as permanent by the FDA</em>.</p>

<h3>Why should I choose electrolysis over other temporary methods like laser and waxing?</h3>

<p>Unlike other hair removal options, professionally performed electrolysis <em>eliminates unwanted hair, permanently, with unsurpassed results</em>.  Moreover, it does so for the largest variety of skin and hair types.</p>
<p>Laser promoters compare laser to electrolysis although laser assisted hair removal is considered a <em>temporary method</em>. It has not been evaluated for long-term safety of the patient’s skin and health.</p>
<p>Waxing, threading and tweezing are alike. However, ingrown hairs and discoloration may result. Additionally, they may cause an increase in hair growth activity. Depilatories and Shaving can cause an irritation to the skin while the hair regrows quickly. These methods can require a lifetime of maintenance. Many can appear inexpensive but cost more due to long term use and are found to be inconvenient.</p>
<p>Electrolysis <em>works on most areas of the body</em> to give you smooth, sleek healthy looking skin.  No other solution claims such universal acceptability and success.</p>

<h3>Do electrologists follow appropriate infection control procedures?</h3>

<p>The American Electrology Association has written <a title="American Electrology Assocation Standards for Infection Control" href="http://www.electrology.com/pdf/infection_control.pdf" target="_new">Standards for Infection Control</a> following the most recent recommendations from the Center for Disease Control (CDC), the Occupational Safety and Health Administration (OSHA), and the Association for Practitioners in Infection Control and Epidemiology (APIC).</p>

<h3>How many treatments are required?</h3>

<p>The number of treatments necessary varies with each client. Treatment sessions can range from 15 minutes to more than an hour depending on the area being treated.</p>
<p>Factors such as hair growth cycles, the quantity and structure of hair presented, previous use of temporary hair removal methods, heredity, hormone function, certain medication and stress influence the treatment program for each individual. It is important to follow the recommended treatment plan to achieve optimum results.</p>

<h3>How much will treatments cost?</h3>

<p>Electrolysis costs depend on a number of factors including: how much hair needs to be removed, the size of area being treated, and where you get your services performed.</p>
<p>For best results, follow the electrologist's recommendations in scheduling appointments. For areas that have been waxed or tweezed, treatments will be more frequent than for areas that have been shaved.</p>

<h3>Are all hairs eliminated in one treatment or is regrowth to be expected?</h3>

<p>Excessive hair growth, known as hirsutism can range from fine, vellus hair to dark, coarse hair on the face and body. Deep, coarse hairs cannot always be eliminated with one treatment; thus, breaking down the hair growth cells may require additional treatments. Based on a personal and confidential consultation, your electrologist will design a treatment plan that addresses your specific hair removal needs.</p>

<h3>What is the normal growth cycle of a hair?</h3>

<p>Hairs have differing cycles of growth, many of which are not visible on the surface of the skin at the same time. The follicle produces the hair from the blood supply, and discards it eventually through shedding. The process of growth, rest and replacement are known as the hair growth cycle. The sequence of events is repeated constantly until a hair ceases to be formed.</p>

<h3>What does electrolysis feel like?</h3>

<p>Electrolysis treatments sting, but individual tolerances vary greatly. Even the most sensitive person should be able to tolerate the treatments. The sting from treatment is quick, and then it's over.</p>

<h3>Does electrolysis have any side effects on the skin?</h3>

<p>Immediately following treatment, there may be slight redness, which varies with each individual. The latest technology has made electrolysis more comfortable and effective than ever before. Your electrologist will provide you with post treatment instructions and the personal attention you need. You are assured of the best care from a skilled hair removal professional.</p>

<h3>Can unwanted hair be removed from anywhere on the body?</h3>

<p><em>Electrolysis works on all skin and hair types</em>   It can be applied to most facial and body parts, including: eyebrows, chin, upper &amp; lower lip, jaw line &amp; sides of the face, breast &amp; underarms, abdomen, bikini line, legs and back. Based on a personal and confidential consultation, your electrologist will design a treatment plan that addresses your specific hair removal needs.</p>

<h3>Can women begin or have electrolysis treatments during pregnancy?</h3>

<p>Unwanted hair can be caused by hormonal changes brought on by pregnancy. Electrolysis can be performed on any normal skin. This includes pregnant women. We suggest that you seek the advice of your physician before beginning treatment.</p>

<h3>Can hairs be removed from moles?</h3>

<p>Electrolysis can be performed in most moles where licensing regulations allow it. Your electrologist may require written approval from your physician.</p>

<h3>My grandmother used to get electrolysis treatments. Has the technology changed much?</h3>

<p>Permanent hair removal using electrolysis has come a long way since its beginnings in 1875. Today's computer technology enables the electrologist to work with more speed and comfort. Epilators are much quicker, utilizing current timings of thousandths of a second over the longer current applications of the past, plus, intensity settings can now be modulated to varying proportions. The instruments and equipment used in a contemporary electrologist's office are just part of the changes that have occurred in the electrolysis industry.</p>

<h3>How does electrolysis work these days?</h3>

<p>All three original modalities used in electrolysis treatments have evolved. The galvanic (true electrolysis) modality still causes a chemical decomposition of the hair follicle cells; the thermolysis (high frequency, shortwave) still destroys the hair growing cells with heat; and the blend (or sequential) still combines galvanic and high frequency to disable the hair follicle.</p>

<h3>I heard electrolysis was painful. Is that true?</h3>

<p>Electrolysis treatments are all about timing and intensity. Electrologists can choose between three different methods of treatment, each with its own variation of comfort levels but with the same comfort, effectiveness and permanency. The electrologist will consider your specific needs and design a treatment plan.</p>
<p>Another factor of comfort is the type of probe used. There are now a variety of probes to choose from: insulated, non-insulated, one-piece, two-piece, stainless steel, and gold-plated. The electrologist will determine the best option for your type of hair growth and skin, providing you with comfortable, quality treatments.</p>
</div>

<div id="transhair">
  <h2>Electrolysis for TS</h2>

  <p>For TS women, there is probably no task in transition more daunting than electrolysis. It’s expensive, sometimes painful, and always time-consuming. However, the benefits are remarkable. It makes you look much younger and more feminine. For some, it’s the most important thing they do to become passable. While passing isn’t everyone’s goal, I will assume it’s yours since you’re reading this.</p>

  <p>Because electrolysis is such an unpleasant thing to do, people constantly hope there is a faster, easier, cheaper, less painful way to remove facial hair permanently. They will try ANYTHING they hear might work rather than submit to electrolysis. This has led to a lot of speculation and misinformation floating around, and a lot of unscrupulous people willing to prey on our false hopes.</p>

  <p>Here’s the bottom line:</p>

  <p>If you cannot afford to risk your time, money, or complexion on unproven methods that may or may not work, it’s vital that you invest in electrolysis with a practitioner recommended by another TS who is done and happy.</p>

  <h3>About hairs and hormones</h3>

  <p>Hormones control the development of every organ, including the hair follicles (which are end-organ targets for androgens). Androgens stimulate receptor cells to produce hair, especially pubic and axillary (underarm) hair. Hair growth in other areas is dependent on heredity, androgen sensitivity and the amount of androgen produced. Hair growth that has reached the full terminal stage will usually be permanent and will not diminish even if androgens are blocked. The only way the hair can be permanently removed is by destruction of the papilla.</p>

  <p>Hormones will probably not reduce existing facial hair at all. They may make hair removal of existing hairs easier, though. It’s good to get on an androgen blocker prior to starting electrolysis.</p>

  <h2>Brief answers to the five big electrolysis questions<h2>

  <h3>How Long Will Electrolysis Take?</h3>

  <p>Clearing typical transsexual women’s facial hair generally takes about 100 to 400 hours of treatment time (some need even more, some less). This is spread out over approximately one to four years (some need even more, some less). Many variables affect this, and these numbers are based on anecdotal data rather than survey results.</p>

  <h3>How Much Does Electrolysis Cost?</h3>

  <p>Electrolysis usually costs about $25 to $150 an hour for treatment (some pay even more, some less). You should plan on spending $25 to $250 a week (some pay even more, some less), tapering off over time, with a total cost to clear a face between $2,000 and $20,000 (some pay even more, some less). Many variables also affect this.</p>

  <h3>How Much Does Electrolysis Hurt?</h3>

  <p>Most people find it tolerable, but most also take steps to alleviate the pain. Some find it extremely painful. Once again, many variables affect this.</p>

  <h3>What Will Electrolysis Do To My Skin?</h3>

  <p>Some temporary post-treatment redness and swelling are commo>n. Other more serious temporary side effects may arise, and the worst-case possibility is permanent pitting or scarring in some clients. Many variables affect this.</p>

  <h2>Advice in a nutshell</h2>

  <ul>
  <li>Electrolysis is the most reliable option available today that has been proven to remove TS facial hair permanently. <a href="/laser-hair-removal/">Laser</a> can be an acceptable or even preferable alternative in some cases, but laser is usually not enough by itself to remove TS facial hair permanently.</li>
  </ul>
  <ul>
  <li>If you cannot afford to risk your time, money, or complexion on unproven technology, start electrolysis now and make a commitment to stick with it.</li>
  </ul>
  <ul>
  <li>There are three main types (modalities) of electrolysis. The following generalizations are hotly debated. Thermolysis uses heat and is generally considered to treat more hairs per session but is not as efficient at killing hairs with one treatment. Galvanic uses an electro-chemical reaction and is generally considered more effective at killing hairs with one treatment but treats less hairs per session. The Blend combines both modalities in an attempt to get the benefits of both. All three methods have vocal champions and detractors, as do the many kinds of electrolysis probes available. Many people contend that electrologist skill is more important than modality used. Others feel very strongly that one modality is better than another.</li>
  </ul>
  <ul>
  <li>Start electrolysis as soon as you possibly can in your transition, and stick with a regular treatment schedule. Start treatment on your face. Worry about body hair once the face is down to one hour a week. Try to get as much as possible done before going full-time.</li>
  </ul>
  <ul>
  <li>Find an electrologist who has had experience successfully removing male facial hair. Choosing an electrologist will be the most important factor in how long your treatment takes, how much it costs, how comfortable it is, and how your skin fares. Ask the recommendation of local TSs who are done and are happy. Meet the client in person and look at their face, if possible. &#8216;Gender-friendly' doesn't necessarily mean &#8216;skilled.' Many states regulate electrologists, and certification from professional electrolysis organizations can help you decide as well. Your choice of electrologists and your adherence to a strict skin care regimen are vital in avoiding permanent skin damage.</li>
  </ul>
  <ul>
  <li>Electrolysis may take from 1 to 4 years or more, with an anecdotal average around 2 years. Even the fastest options usually require 10 months of treatment just to get you to maintenance levels. Completion may require less than 40 hours to more than 700, with a widely accepted anecdotal average between 200 and 300 hours. It takes a big time and money commitment, so plan accordingly. Electrolysis may be the most expensive part of your transition, even more than SRS. Luckily, the costs are spread out over time. But since it will cost anywhere from $25-$250 a week or more, you must have a realistic budget in place. If your money situation is tight, you should spend as much as you can afford on electrolysis each week, because even a little is better than nothing. Also, the biggest financial strain is early on when you are trying to get your face cleared. Once you're past that, maintenance is much more financially manageable.</li>
  </ul>
  <ul>
  <li>Female hormones will not get rid of existing facial hair. Hormones are not necessary for electrolysis to work, but anti-androgens like spironolactone, etc. probably help retard future growth. However, some electrologists feel that by retarding regrowth, you slow your time to completion, and many clients feel that hormones make their skin more sensitive to electrology. Hormones (specifically anti-androgens) do affect body hair, so work on the face while the hormones start to work on the body hair.</li>
  </ul>
  <ul>
  <li>Some feel that shaving is important in the early stages of treatment (and it doesn't make hair grow in thicker). Electrolysis is most effective on actively growing hairs. Treating your resting hairs is a waste of time and money, it can hurt more (they're closer to the surface) and increases the potential for skin damage. If at all possible, do not shave until your face has recovered from your last session, but once it's healed, some suggest you shave before your next session. That way you are only treating hairs that will be affected. If you absolutely must shave immediately after treatment, you may find an electric foil razor less irritating on inflamed skin. You will need 18 to 48 hours' growth for treatment so your electrologist has enough hair to see the angle and to grasp with tweezers. Others feel that if you don't need to shave between sessions, it's best to avoid it.</li>
  </ul>
  <ul>
  <li>Anyone considering sex reassignment surgery is strongly urged to consult with their surgeon about genital electrolysis prior to SRS. In many cases, genital electrolysis can help eliminate the need for skin grafts taken from the abdomen or hips, and it can help prevent the problem of hair growth inside the vagina post-surgically.</li>
  </ul>
  <ul>
  <li>There is no &#8216;one way' that works for everyone. Listen to the <b>first-hand </b>experiences of others, but consider it advice, not gospel. You must find what works best for <b>you</b>. Because of all the variables, your situation will be unique and not exactly comparable with anyone else's.</li>
  </ul>
</div>
