<div class="row" id="electrolysis-service">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <%= image_tag('electrolysis-machine.png', class: "img-fluid")%>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <h1>Electrolysis</h1>
    <ul>
    <li>Electrolysis rates starting at $65 an hour (for a prepaid block of 10 hours)</li>
    <li>Two electrologist sessions (two electrologists treating a person)</li>
    <li>Weekend sessions</li>
    <li>Night sessions</li>
    <li>All-day sessions</li>
    <li>All modalities available</li>
    <li>Our office is located in the LGBT friendly gayborhood of center city Philadelphia</li>
    <li>All services performed by a trans woman who is professionally trained and state licensed</li>
    </ul>
  </div>
</div>

<div class="row" id="grs-electrolysis">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <%= image_tag('electrolysis-machine.png', class: "img-fluid")%>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <h1>GRS Electrolysis</h1>
    <ul>
    <li>GRS Electrolysis rate is $80 an hour</li>
    <li>Weekend sessions</li>
    <li>Night sessions</li>
    <li>All-day sessions</li>
    <li>Our office is located in the LGBT friendly gayborhood of center city Philadelphia</li>
    <li>All services performed by a trans woman who is professionally trained and state licensed</li>
    <li>Experienced with GRS surgeon requirements and specifications</li>
    </ul>
  </div>
</div>


<br>

<div class="row" id="waxing-service">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <%= image_tag('wax.jpg', class: "img-fluid")%>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <h1>Waxing Services (soft or hard wax)</h1>
    <ul>
    <li>Under Arm $20</li>
    <li>Half Legs $40</li>
    <li>Full Legs $55</li>
    <li>Eyebrows $10</li>
    <li>Bikini $40</li>
    <li>Brazilian $60</li>
    </ul>

    <h4>Call for pricing</h4>
    <ul>
    <li>Face</li>
    <li>Chest/Stomach</li>
    <li>Back</li>
    <li>Full Body</li>
    </ul>
  </div>
</div>

<br>

<div class="row" id="makeup-service">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <%= image_tag('brush.png', class: "img-fluid")%>
  </div>
  <div class='col-sm-12 col-md-12 col-lg-6 col-xl-6'>
  <h1>Makeup & Wardrobe Consultations</h1>
  <ul>
  <li>Special events makeup applications ($60)</li>
  <li>Makeup lessons / day look (upon request)</li>
  <li>Makeup lessons / evening look (upon request)</li>
  <li>Makeup lessons / special occasions (upon request)</li>
  <li>Wardrobe consultations (upon request)</li>
  </ul>
  </div>
</div>

<br>
