<div class="row">
  <div class="col-6">
    <div id="electrolysis-service">
    <h2>Electrolysis</h2>
    <ul>
    <li>Electrolysis rates start at $50 an hour.</li>
    <li>Two electrologist sessions (two electrologists treating a person)</li>
    <li>Weekend sessions</li>
    <li>Night sessions</li>
    <li>All-day sessions</li>
    <li>All modalities available</li>
    <li>Our office is located in the LGBT friendly gayborhood of center city Philadelphia</li>
    <li>Performed by experienced transwoman</li>
    </ul>
    </div>
  </div>
  <div class="col-6">
      <%= image_tag('electrolysis-machine.png', width: '100%', height: '100%')%>

  </div>
</div>

<br><br>

<div id="waxing-service">
<h2>Waxing Services (soft or hard wax)</h2>
<ul>
<li>Under Arm $20</li>
<li>Half Legs $40</li>
<li>Full Legs $55</li>
<li>Eyebrows $10</li>
<li>Bikini $40</li>
<li>Brazilian $60</li>
</ul>

<h4>Call for pricing</h4>
<ul>
<li>Face</li>
<li>Chest/Stomach</li>
<li>Back</li>
<li>Full Body</li>
</ul>
</div>

<br><br>

<div id="makeup-service">
<h2>Makeup & Wardrobe Consultations</h2>
<ul>
<li>Special events makeup applications ($60)</li>
<li>Makeup lessons / day look (upon request)</li>
<li>Makeup lessons / evening look (upon request)</li>
<li>Makeup lessons / special occasions (upon request)</li>
<li>Wardrobe consultations (upon request</li>
</ul>
</div>

<br><br>
