<div class="row">
  <%= image_tag('flowers-symbol.jpg', width: '100%', height: '100%', alt: "Being Transgender has many permanant hair removal needs. Try electrolysis for hair removal for transgender women today", title: 'Best Facial Hair Removal')%>
</div>
