html {

  // background-color: black;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  img {
    vertical-align: 0;
  }
}

body {
font-family: 'Playfair Display SC', serif;
color: white;
background: linear-gradient(0deg, #666666, black);
background-attachment: fixed;
letter-spacing: .25em;
}

.container {
  background-color: black;
  height: 100%;
}

.footer {
  margin-top: 20px;
}
