html {
  background: linear-gradient(black, #ed5473);
  // background-color: black;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  img {
    vertical-align: 0;
  }
}

body {
font-family: 'Playfair Display SC', serif;
color: white;
background: 0;
letter-spacing: .25em;
}
