html {

  // background-color: black;
}

h1 {
  // font-family: 'Playfair Display SC', serif;
  font-size: 4em;
  letter-spacing: .35em;
  img {
    vertical-align: 0;
  }
}

body {
font-family: 'Lato', sans-serif;
color: white;
background: linear-gradient(0deg, #666666, black);
background-attachment: fixed;
letter-spacing: .25em;
font-weight:lighter;
}

.container {
  background-color: black;
  height: 100%;
}

.footer {
  margin-top: 20px;
}

p {
  font-size: 1.25em;
}

ul.nav {
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: hotpink;
}
/* selected link */
a:active {
    color: hotpink;
}
