// Place all the styles related to the information controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#electrolysis {
  h2 {
    background: -webkit-linear-gradient(#fabbd0, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-weight: bold;
    background: -webkit-linear-gradient(#7edfea, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  li {

  }

}

#transhair {
  h2 {
    color: #fabbd0;
    font-weight: bold;
  }
  h3 {
    color: #7edfea;
    font-weight: bold;
  }

}

#about {
  img {
    border-radius: 50%;
  }
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #333333;
  border: #111111;
  color: white;
}
