// Place all the styles related to the information controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-outline-secondary{
  color: white;
}

#electrolysis {
  h2 {
    color: #fabbd0;
    font-weight: bold;
  }
  h3 {
    color: #7edfea;
    font-weight: bold;
  }

}

#transhair {
  h2 {
    color: #fabbd0;
    font-weight: bold;
  }
  h3 {
    color: #7edfea;
    font-weight: bold;
  }

}

#about {
  img {
    border-radius: 5%;
  }
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: #111111;
  color: white !important;
}

.btn-outline-secondary{
  color: #333333 !important;
}
