@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  color: black;
  background: linear-gradient(0deg, white, #666);
  background-attachment: fixed;
  letter-spacing: .25em;
  font-weight:lighter;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-fluid{
  background-color: white;
  height: 100%;
}

p{
  margin-top: 10px;
}

.nav{
  /* top | right | bottom | left */
  margin: 0 0 1em 0;
}

.nav-link{
  /* top | right | bottom | left */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.75em;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #7edfea;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #7edfea;
    text-decoration: none;
}

a.dropdown-item{
    color: black;
    text-decoration: none;
}

/* for carousel */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}

.carousel-caption p{
  color: black;
  font-weight: bolder;
  font-size: 1.2vw;
}
