@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background: linear-gradient(0deg, #666666, black);
  background-attachment: fixed;
  letter-spacing: .25em;
  font-weight:lighter;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-fluid{
  background-color: black;
  height: 100%;
}

p{
  margin-top: 10px;
}

.nav{
  /* top | right | bottom | left */
  margin: 0 0 1em 0;
}

.nav-link{
  /* top | right | bottom | left */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.75em;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #7edfea;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #7edfea;
    text-decoration: none;
}

a.dropdown-item{
    color: black;
    text-decoration: none;
}
